

<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-warning">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
      
              <!-- Content -->
              <h5 class="text-uppercase">Cine ADSI</h5>
              <p>Sin cine no hay sueños, mas que un sueño una realidad</p>
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase">Contacto</h5>
      
              <ul class="list-unstyled">
                
                <li>
                  <p>+57 3146889745</p>
                </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase">Redes Sociales</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Twitter: @CineAdsi</a>
                  <br>
                  <a href="#!">Facebook: Cine ADSI</a>
                </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
           Cine ADSI
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->
