
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<ul class="nav justify-content-end bg-warning">
    <li class="nav-item">
      <a class="nav-link active" href="#">Opcion 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">opcion 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Opcion 3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']" tabindex="-1">Inicio</a>
    </li>
  </ul>